flake8==7.0.0
friend-service-grpc @ git+https://github.com/CapyDevelop/friend_service_grpc.git@main
grpcio==1.62.0
grpcio-tools==1.62.0
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==23.2
pluggy==1.4.0
protobuf==4.25.3
pycodestyle==2.11.1
pyflakes==3.2.0
pytest==8.0.2
